/*external*/
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet');


@import 'components/Layout/Header/style';



/********************media queries****************************/
/*@media (max-width: 600px){
    
    .container{
        width: 95%;
    }
    .section-three{
        .icons{
            display: block; 
            .icons-items{
                width: 100%;
            }    
        }    
    }    

    
.section-five{
    
    .creative{
        display: block;
        .creative-item{
            width: 100%;
        }
    } 


}
}*/